@keyframes fade-out {
    100% {
        background-color: transparent;
        border-color: transparent;
    }
}

.help {
  position: absolute;
  right:0;
}

html.collage, .collage body {
    background-color: black;
    overflow: hidden;
    position: absolute;
    top: 1px;
    bottom: 21px;
    left: 1px;
    right: 1px;
    padding: 1px;
    margin: 1px;
    font-family: sans-serif;
}

.collage .canvas {
    position: absolute;
    top: 1em;
    bottom: 10em;
    left: 0;
    right: 0;
    padding: 1em;
}

.collage .window {
    position: absolute;
    border: 1em solid rgba(20, 20, 20, 0.9);
    background-color:rgb(20, 20, 20);
}

.collage .photos {
    position: absolute;
    left: 0;
    right: 0;
    height: 8em;
    bottom: 2em;
    background-color: rgba(255, 0, 0, 0.1);
    overflow-x: auto;
    overflow-y: visible;
    white-space: nowrap;
}

.collage .photos .img {
    width: 7em;
    height: 7em;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-size: auto 7em;
    display: inline-block;
    background-color: black;
    border: 1px solid white;
}

.collage .panel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 250, 250, 0.5);
}

.collage .panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    border:1px solid white;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    opacity: 1;
    overflow: hidden;
}

.collage .label:focus,
.collage .panel-container:focus,
.collage .panel.focus
 {
    outline: 2px solid red;
    z-index: 1;
}

.collage .panel .img {
    position: relative;
    left: 0;
    top: 0;
    width: initial;
    height: auto;
    user-select: none;
}

.collage .q1 {
    top: 0;
    left: 0;
    right: 50%;
    bottom: 50%;
}

.collage .q2 {
    top: 0;
    right: 0;
    left: 50%;
    bottom: 50%;
}

.collage .q3 {
    bottom: 0;
    right: 0;
    left: 50%;
    top: 50%;
}

.collage .q4 {
    bottom: 0;
    left: 0;
    right: 50%;
    top: 50%;
}

.collage .q1.q2 {
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
}

.collage .q1.q2.q3.q4 {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.collage .q1.q4 {
    top: 0;
    right: 50%;
    left: 0;
    bottom: 0;
}

.collage .q2.q3 {
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
}

.collage .q3.q4 {
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
}

.collage .console {
    position: absolute;
    bottom:0;
    left: 0;
    background-color: black;
    color: white;
    border: 1px solid white;
    display:block;
    height: 2em;
    min-width: 30em;
    font-family: monospace;
}

.collage .overlay {
    background-color: silver;
    opacity: 0.8;
    border-radius: 1em;
    color: black;
    text-align: center;
    position: relative;
    display:inline-block;
    min-width: 2em;
    min-height: 2em;
    line-height: 2em;
    font-size: 1.5em;
    font-family: monospace;
}

.collage .overlay:hover {
    opacity: 1;
}

.collage .panel .overlay {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
}

.collage .photos .overlay {
    opacity: 0.5;
    font-size: 1.5em;
}

.collage .overlay.draggable {
    user-select: none;
    cursor: grabbing;
}

.collage .export-result {
    z-index: 1;
    position: absolute;
}

.collage .panel .label {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    z-index: 1;
    cursor: move;
    resize: none;
    overflow: visible;
}

.collage .toaster {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 8em;
    max-width: 16em;
    max-height: 30em;
    overflow: hidden;
    z-index: 100;
    border: 1px solid white;
    background-color: rgba(200, 200, 200, 0.8);
}

.collage .toaster .toast {
    background-color: black;
    color: white;
    width: 100%;
    min-height: 4em;
    padding: 0.5em;
}

.collage .toaster.fade-out {
    display: none;
}

.collage .toaster .toast.fade-out
{
    opacity: 0;
    transition: opacity 2s linear;
}
