body.svgeditor {
  color: darkgray;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.5rem;
}

.svgeditor .toaster {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  border: 1px solid darkgray;
}

.svgeditor .F1 {
  padding: 2em;
  border: 1px solid darkgray;
  border-bottom-right-radius: 4em;
  background-color: rgba(10, 10, 10, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 5em 15em);
  max-height: 30em;
  min-width: 25vw;
  max-width: minmax(50vw, 70em);
  overflow: auto;
}

.svgeditor .F1 label {
  display: block;
}

.svgeditor .hidden {
  display: none !important;
}

.svgeditor .toolbar {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 80vw;
  max-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 4em);
  overflow: auto;
}

.svgeditor .layers {
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vmin;
  height: 100vmin;
}

.svgeditor .layers svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  fill: blue;
  stroke: white;
}

.svgeditor.digitizer .layers svg {
  stroke: blue;
  stroke-opacity: 0.5;
  fill: red;
  fill-opacity: 0.5;
}

.svgeditor .filepicker {
  position: absolute;
  top: 1em;
  left: 25%;
  width: 50%;
  min-width: 1em;
  min-height: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 8em);
  border: 1em solid rgba(20, 20, 20, 1);
  border-radius: 1em;
  padding: 1em;
  background-color: black;
  color: white;
}

.svgeditor .filepicker .filename {
  cursor: pointer;
  border-left: 1px solid transparent;
  transition: all 100ms ease-out;
}

.svgeditor .filepicker .filename:hover {
  border-left-color: white;
}

.svgeditor .grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 1em;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 12em;
}

.svgeditor .grid .cell {
  color: darkgray;
  display: block;
}

.svgeditor .grid .cell input {
  background-color: black;
  color: darkgray;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}

.svgeditor section label {
  display: block;
}
