body.svgeditor {
  color: darkgray;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.svgeditor .F1 label {
  display: block;
}

.svgeditor .hidden {
  display: none !important;
}

.svgeditor .toolbar {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 4em);
  overflow: auto;
}

.svgeditor .layers {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vmin;
  height: 100vmin;
}

.svgeditor .layers svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  fill: blue;
  stroke: white;
}

.svgeditor.digitizer .layers svg {
  stroke: blue;
  stroke-opacity: 0.5;
  fill: red;
  fill-opacity: 0.5;
}

.svgeditor .grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 1em;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 12em;
}

.svgeditor .grid .cell {
  color: darkgray;
  display: block;
  font-size: 1.5rem;
}

.svgeditor .grid .cell input {
  background-color: black;
  color: darkgray;
  display: block;
  font-size: 1.5rem;
  border: none;
  padding: none;
}

.svgeditor section label {
  display: block;
}
