body.svgeditor {
  color: darkgray;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.5rem;
}

.svgeditor .toaster {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  border: 1px solid darkgray;
}

.svgeditor .F1 {
  padding: 2em;
  border: 1px solid darkgray;
  border-bottom-right-radius: 4em;
  background-color: rgba(10, 10, 10, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 6em 18em);
  max-height: 30em;
  min-width: 25vw;
  max-width: minmax(50vw, 70em);
  overflow: auto;
}

.svgeditor .F1 label {
  display: block;
}

.svgeditor .hidden {
  display: none !important;
}

.svgeditor .toolbar {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 80vw;
  max-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 4em);
  overflow: auto;
}

.svgeditor .layers {
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vmin;
  height: 100vmin;
}

.svgeditor .layers svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  fill: blue;
  stroke: white;
}

.svgeditor.digitizer .layers svg {
  stroke: blue;
  stroke-opacity: 0.5;
  fill: red;
  fill-opacity: 0.5;
}

.svgeditor .filepicker {
  position: absolute;
  top: 1em;
  left: 25%;
  width: 50%;
  min-width: 1em;
  min-height: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 8em);
  border: 1em solid rgba(20, 20, 20, 1);
  border-radius: 1em;
  padding: 1em;
  background-color: black;
  color: white;
}

.svgeditor .filepicker .filename {
  cursor: pointer;
  border-left: 1px solid transparent;
  transition: all 100ms ease-out;
}

.svgeditor .filepicker .filename:hover {
  border-left-color: white;
}

.svgeditor .grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 1em;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 12em;
}

.svgeditor .grid .cell {
  color: darkgray;
  display: block;
}

.svgeditor .grid .cell input {
  background-color: black;
  color: darkgray;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.svgeditor section label {
  display: block;
}

:root {
  --light-marker-stroke: rgba(20, 20, 20, 0.8);
  --light-marker-fill: rgba(20, 20, 200, 0.8);
  --dark-marker-stroke: rgba(200, 200, 200, 0.8);
  --dark-marker-fill: rgba(100, 20, 20, 0.8);
}

body {
  background-color: black;
}

div.F1 {
  position: absolute;
  top: 4em;
}

.toolbar button.F1 {
  width: 4em;
  height: 4em;
  padding: 0;
  background: black;
  border: 1px solid darkgray;
  border-radius: 0.5em;
  fill: var(--dark-marker-fill);
  stroke: var(--dark-marker-stroke);
}

.toolbar button.F1:hover,
.toolbar button.F1:focus {
  background: darkgray;
  fill: var(--light-marker-fill);
  stroke: var(--light-marker-stroke);
}

.toolbar button.F1 svg {
  stroke-width: 1;
}

.toolbar button.F1.marker svg path,
.toolbar button.F1.marker svg use {
  transform: translate(0, 25%);
}

.toolbar button.F1.icon svg path {
  transform: translate(6px, 6px);
}

.inset {
  background-color: white;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}

.svgeditor .pixels-to-digitize {
  display: none;
}

.svgeditor.digitizer .pixels-to-digitize {
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
}
