@media (prefers-color-scheme: dark) {
    .theme {
      background: black;
      color: #ddd;
    }
  }

  @media (prefers-color-scheme: light) {
    .theme {
      background: #eee;
      color: black;
    }
  }

  html {
    overflow: hidden;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body {
    align-content: stretch;
    align-items: stretch;
    background: #ececec;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  textarea#notebook {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }